@model IEnumerable<VGS.Models.UserGame>

@{
    ViewBag.Title = "Index";
}

@if ((bool)Session["Logged"])
{
    if ((int)Session["UserType"] == 1)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Game details", "Details", "Games", new { id = item.GameId }, null)
                @if ((bool)Session["Logged"])
                {
                    if ((int)Session["UserType"] == 1)
                    {
                        <span>|</span>
                        @Html.ActionLink("Details", "Details", new { id = item.UserGameId })
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserGameId })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserGameId })
                    }
                }
            </td>
        </tr>
    }

</table>
